www.pineapplepizzaisthe.best {
	redir https://pineapplepizzaisthe.best{path}
}

pineapplepizzaisthe.best {
	encode gzip
	log
	root * /mnt/agrax_earthshade/pineapplepizzaisthe.best

	try_files {path} index.html
}
